doctype html
html(lang='en')
  head
    include ../partials/head

    // Custom styles for this template
    link(href='/css/cover.css', rel='stylesheet')
    link(href='/css/blog.css', rel='stylesheet')
    
  body(class='#{content.imageClass}')
    .site-wrapper
      .site-wrapper-inner
        .cover-container
          .masthead.clearfix
            .inner
              h1.masthead-brand #{content.heading}
              include ../partials/navigation-cover
          .inner.cover

            .row
              .col-sm-12
                .panel.panel-default
                  .panel-heading.home
                    h2.cover-heading #{post.title}
                    .panel-body
                      p.lead
                        | !{post.body}
                      p
                        | #{post.created}

            p.lead
              a.btn.btn-lg.btn-default(href='/blog') All Posts
          include ../partials/footer-cover
    
    include ../partials/analytics
    
    script(src='/js/jquery-1.12.1.min.js')
    script(src='/js/bootstrap.min.js')
    script(src='/js/holder.js')
