doctype html
html(lang='en')
  head
    include ../partials/head

    // Custom styles for this template
    link(href='/css/cover.css', rel='stylesheet')
    link(href='/css/blog.css', rel='stylesheet')
    
  body(class='#{content.imageClass}')
    .site-wrapper
      .site-wrapper-inner
        .cover-container
          .masthead.clearfix
            .inner
              h1.masthead-brand #{content.heading}
              include ../partials/navigation-cover
          .inner.cover.blog.tagged
            h2.cover-heading.blog.tagged #{content.subtitle}

            .row
              .col-sm-8
                for taggedPost in taggedPosts
                  .panel.panel-default
                    .panel-heading.home
                      h2.cover-heading #{taggedPost.title}
                      .panel-body
                        p.lead
                          | !{taggedPost.body}
                        p.posted-on
                          | Posted on #{moment(taggedPost.created).format("dddd MMMM Do YYYY")} by #{taggedPost.author}
              .col-sm-4
                .panel.panel-default
                  .panel-heading
                    h2.panel-title Recent Posts
                    .panel-body
                      ul.blog-recent
                      for post in allPosts
                        li
                          a(href='/blog/#{post.url}') #{post.title}

                .panel.panel-default
                  .panel-heading
                    h2.panel-title Tags
                    .panel-body.blog-tags
                      .table
                        ul.blog-tags
                          for tag in tags
                            li
                              a(href='/blog/tag/#{tag}') #{tag.toProperCase()}

            p.lead
              a.btn.btn-lg.btn-default(href='/blog') All Posts

          include ../partials/footer-cover
    
    include ../partials/analytics
    
    script(src='/js/jquery-1.12.1.min.js')
    script(src='/js/bootstrap.min.js')
    script(src='/js/holder.js')
