doctype html
html(lang='en')
  head
    include partials/head.jade

    // Custom styles for this template
    link(href='/css/cover.css', rel='stylesheet')
    link(href='/css/contact.css', rel='stylesheet')
    
  body(class='#{imageClass}')
    .site-wrapper
      .site-wrapper-inner
        .cover-container
          .masthead.clearfix.prices
            .inner
              h1.masthead-brand #{heading}
              include partials/navigation-cover.jade
          .inner.cover.prices
            h2.cover-heading #{subtitle}
            p.lead
              | #{bodyText}
            .row
              .col-sm-12.opaque
                .alert.alert-info.contact(role='alert')
                  strong Email:<br/>
                  a.contact(href='mailto:patricia@bearessentialsmassage.co.uk?subject=General enquiry', target='_blank') patricia@bearessentialsmassage.co.uk
            .row
              .col-sm-12.opaque
                .alert.alert-info.contact(role='alert')
                  a.contact.fa.fa-facebook-square(href='https://www.facebook.com/bearessentialsmassageltd', target='_blank')  Facebook
            .row
              .col-sm-12.opaque
                .alert.alert-info.contact(role='alert')
                  a.contact.fa.fa-twitter-square(href='https://twitter.com/BearEssentials7', target='_blank')  Twitter
            .row
              .col-sm-12.opaque
                .alert.alert-info.contact(role='alert')
                  strong Telephone:<br/>
                  a.contact(href='tel:07754 312 622') 07754 312 622

            p.lead
              a.btn.btn-lg.btn-default(href='#{ctaLink}') #{ctaText}
          .prices-footer
            include partials/footer-cover.jade
    
    // Bootstrap core JavaScript
    // ==================================================
    // Placed at the end of the document so the pages load faster
    script(src='/js/jquery-1.12.1.min.js')
    script(src='/js/bootstrap.min.js')
    script(src='/js/holder.js')
