doctype html
html(lang='en')
  head
    include partials/head.jade

    // Custom styles for this template
    link(href='/css/cover.css', rel='stylesheet')
    link(href='/css/home.css', rel='stylesheet')
    
  body(class='#{content.imageClass}')
    .site-wrapper
      .site-wrapper-inner
        .cover-container
          .masthead.clearfix
            .inner
              h1.masthead-brand #{content.heading}
              include partials/navigation-cover.jade
          .inner.cover

            .row
              .col-sm-12
                .panel.panel-default
                  .panel-heading.home
                    h2.cover-heading #{content.subtitle}
                    .panel-body
                      p.lead
                        | Based in Brighton and Hove, Bear Essentials Massage offers a 
                        | <a href="/therapies"> number of medical and therapeutic treatments</a>
                        | to aid relaxation, tension and stress release.

            p.lead
              a.btn.btn-lg.btn-default(href='#{content.ctaLink}') #{content.ctaText}
            p.lead
              .text-center.pad-top
                a.btn.btn-lg.btn-default(href='/therapies') All Therapies
          include partials/footer-cover.jade
    
    include partials/analytics.jade
    
    script(src='/js/jquery-1.12.1.min.js')
    script(src='/js/bootstrap.min.js')
    script(src='/js/holder.js')
