doctype html
html(lang='en')
  head
    include partials/head.jade

    // Custom styles for this template
    link(href='/css/cover.css', rel='stylesheet')
    link(href='/css/prices.css', rel='stylesheet')
    
  body(class='#{content.imageClass}')
    .site-wrapper
      .site-wrapper-inner
        .cover-container
          .masthead.clearfix.prices
            .inner
              h1.masthead-brand #{content.heading}
              include partials/navigation-cover.jade
          .inner.cover.prices
            h2.cover-heading #{content.subtitle}
            p.lead
              | #{content.bodyText}
            // .row
            //  .col-sm-12
            //    .alert.alert-success(role='alert')
            //      strong Promo Code<br/>
            //      | To receive £5 off please quote 5BEARS when booking your treatment (new customers only).
            .row
              .col-sm-12
                .panel.panel-default
                  .panel-heading
                    h3.panel-title Sports Massage
                    .panel-body
                      table.table.prices-2-col
                        tbody
                          tr
                            td 60 minutes
                            td &pound;37.00 (full body massage)
                          tr
                            td 45 minutes
                            td &pound;30.00 (back, neck and shoulder massage)
                          tr
                            td 30 minutes
                            td &pound;25.00 (back massage)
                      a.btn.btn-sm.btn-primary(href='mailto:patricia@bearessentialsmassage.co.uk?subject=Sports Massage Booking Enquiry', role='button') Sports Massage Enquiry

            .row
              .col-sm-12
                .panel.panel-default
                  .panel-heading
                    h3.panel-title Sports Taping
                    .panel-body
                      p
                        | Sports taping is also available with sports massage to be agreed per consultation
                      table.table.prices-2-col
                        tbody
                          tr
                            td 45 minutes
                            td &pound;30.00 (Initial consultations including treatment)
                          tr
                            td 45 minutes
                            td &pound;27.00 (follow up including treatment)
                      a.btn.btn-sm.btn-primary(href='mailto:patricia@bearessentialsmassage.co.uk?subject=Sports Taping Booking Enquiry', role='button') Sports Taping Enquiry

            .row
              .col-sm-6
                .panel.panel-default
                  .panel-heading
                    h3.panel-title Hot Stones Massage
                    .panel-body
                      table.table.prices-2-col
                        tbody
                          tr
                            td 60 minutes
                            td &pound;40.00
                      a.btn.btn-sm.btn-primary(href='mailto:patricia@bearessentialsmassage.co.uk?subject=Hot Stones Massage Booking Enquiry', role='button') Hot Stones Massage Enquiry

              .col-sm-6
                .panel.panel-default
                  .panel-heading
                    h3.panel-title Pregnancy Massage
                    .panel-body
                      table.table.prices-2-col
                        tbody
                          tr
                            td 60 minutes
                            td &pound;37.00
                      a.btn.btn-sm.btn-primary(href='mailto:patricia@bearessentialsmassage.co.uk?subject=Pregnancy Massage Booking Enquiry', role='button') Pregnancy Massage Enquiry
            .row
              .col-sm-12
                .panel.panel-default
                  .panel-heading
                    h3.panel-title Seated Acupressure Massage
                    .panel-body
                      table.table.prices-2-col
                        tbody
                          tr
                            td Day Rate (corporate)
                            td &pound;150.00 (includes seven hours of up to 18 x 15 mins chair massages with a short consultation for new clients and turnaround)
                          tr
                            td Half Day Rate (corporate)
                            td &pound;100.00 (includes four hours of up to 10 x 15 mins chair massages with a short consultation for new clients and turnaround)
                          tr
                            td 15 mins (non-corporate)
                            td &pound;11.00 (a minimum of 5 clients per visit and turnaround)
                      a.btn.btn-sm.btn-primary(href='mailto:patricia@bearessentialsmassage.co.uk?subject=Seated Acupressure Booking Enquiry', role='button') Seated Acupressure Enquiry

            p.lead
              a.btn.btn-lg.btn-default(href='https://www.treatwell.co.uk/', id="wahanda-online-booking-widget", onclick='wahanda.openOnlineBookingWidget("https://widget.treatwell.co.uk/place/318199/menu/"); return false;', target="_blank")
                span
                  | Book now

            p.lead
              a.btn.btn-lg.btn-default(href='#{content.ctaLink}') #{content.ctaText}

          .prices-footer
            include partials/footer-cover.jade
    
    include partials/analytics.jade

    script(src='/js/jquery-1.12.1.min.js')
    script(src='/js/bootstrap.min.js')
    script(src='/js/holder.js')
    script(src='https://widget.treatwell.co.uk/common/venue-menu/javascript/widget-button.js')

    script.
      (function () {
        var link = document.createElement("link");
        link.type = "text/css";
        link.href = "https://widget.treatwell.co.uk/common/venue-menu/css/widget-button.css";
        link.rel = "stylesheet";
        link.media = "screen";
        document.getElementsByTagName("head")[0].appendChild(link);
      }() );

